ADMIN_EMAIL=
SUPPORT_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
BLOB_READ_WRITE_TOKEN=
BLOB_STORE_ID=
NEXT_PUBLIC_BLOB_FOLDER=seven-bgmi-store
INSTAGRAM_URL=
WHATSAPP_URL=
TELEGRAM_URL=
LINKEDIN_URL=
FACEBOOK_URL=
YOUTUBE_URL=
